<center>
  <table style="width: 650px; ">
    <thead>
    <tr>
      <th align="center" style="width: 40px; height:20px;">선택</th>
      <th align="center" style="width: 330px; height:20px;">제 목</th>
      <th align="center" style="width: 80px; height:20px;">작성자</th>
      <th align="center" style="width: 120px; height:20px;">작성일</th>
      <th align="center" style="width: 80px; height:20px;">조회수</th>
    </tr>
    </thead>
    <tr>
      <td align="center" style="width: 40px; height:20px;">
        <hr/>
      </td>
      <td align="center" style="width: 330px; height:20px;">
        <hr/>
      </td>
      <td align="center" style="width: 80px; height:20px;">
        <hr/>
      </td>
      <td align="center" style="width: 120px; height:20px;">
        <hr/>
      </td>
      <td align="center" style="width: 80px; height:20px;">
        <hr/>
      </td>
    </tr>
    <tr>
      <td align="center" style="width: 40px; height:40px;"><input type="checkbox"/></td>
      <td align="center" style="width: 330px; height:40px;">자주 이용해 주세요</td>
      <td align="center" style="width: 80px; height:40px;">관리자</td>
      <td align="center" style="width: 120px; height:40px;">20xx.xx.xx</td>
      <td align="center" style="width: 80px; height:40px;">1</td>
    </tr>
    <tr>
      <td align="center" style="width: 40px; height:40px;"><input type="checkbox"/></td>
      <td align="center" style="width: 330px; height:40px;">게시판 확인</td>
      <td align="center" style="width: 80px; height:40px;">관리자</td>
      <td align="center" style="width: 120px; height:40px;">20xx.xx.xx</td>
      <td align="center" style="width: 80px; height:40px;">10</td>
    </tr>
    <tr>
      <td colspan=5>
        <hr/>
      </td>
    </tr>
    <tr>
      <td colspan=2><input type="checkbox"/>전체선택</td>
      <td align="right" colspan=3>
        <input style="width: 100px; " type="button" value='삭제'/>
        <input style="width: 100px; " type="button" value='글쓰기'/>
      </td>
    </tr>
    <tr>
      <td colspan=5>
        <hr/>
      </td>
    </tr>
  </table>
  이전 1 2 3 4 다음
  <table>
    <tr>
      <td>
        <select>
          <option>전체</option>
          <option>제목</option>
          <option>작성자</option>
        </select>
        <input name='search' type="text"/>
        <input name='searchBtn' style="width: 80px; " type=button value='검색'/>
      </td>
    </tr>
  </table>
</center>