<center>
  <table>
    <tr>
      <td align='right' height=40>아이디</td>
      <td>
        <input name='id' placeholder='id 입력' type=text/>
      </td>
      <td colspan="2">
        <button>중복 확인</button>
      </td>
    </tr>
    <tr>
      <td align='right' height=40>패스워드</td>
      <td>
        <input name='pw' placeholder='pw 입력' type=text/>
      </td>
      <td align='right'>패스워드 확인</td>
      <td>
        <input name='pwOk' placeholder='pw 입력' type=text/>
      </td>
    </tr>
    <tr>
      <td align='right' height=40>E-Mail</td>
      <td>
        <input name='email' placeholder='E-Mail 입력' type=text/>
      </td>
      <td colspan="2">
        <button>인증번호 전송</button>
      </td>
    </tr>
    <tr>
      <td align='right'>인증번호</td>
      <td>
        <input name='authNum' placeholder='인증번호 입력' type=text/>
      </td>
      <td colspan="2">
        <button>인증번호 확인</button>
      </td>
    </tr>
    <tr>
      <td align='right'>우편번호</td>
      <td>
        <input name='zipcode' readonly="readonly" type=text/>
      </td>
      <td colspan="2">
        <button>우편번호 검색</button>
      </td>
    </tr>
    <tr>
      <td align='right'>주소</td>
      <td colspan="3">
        <input name='addr1' readonly="readonly" style="width: 475px; " type=text/>
      </td>
    </tr>
    <tr>
      <td align='right'>상세주소</td>
      <td colspan="3">
        <input name='addr2' style="width: 475px; " type=text/>
      </td>
    </tr>
    <tr>
      <td align='right' width=120>성 별</td>
      <td colspan="3">
        <input checked="checked" name='gender' type=radio value='m'/>남자
        <input name='gender' type=radio value='w'/>여자
      </td>
    </tr>

    <tr>
      <td align='center' colspan=4 height=40>
        <input style="width: 120px; " type=submit value='로그인'/>
        <input style="width: 120px; " type=reset value='취소'/>
      </td>
    </tr>
  </table>
</center>